body {
    background-image: url(./special.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}


.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    max-height: 100px;
    
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    justify-content: center;
   
}


#profile {
    height: 100px;

}


.header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: serif;
    font-size: 30px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.container {
    position: relative;
  }
  
  /* Bottom right text */
  .textblock {
    position: absolute;
    bottom: 20px;
    right: 5px;
    background-color: black;
    color:limegreen;
    padding-left: 10px;
    padding-right: 10px;
  }

.grid {
    display:grid;
    grid-template-columns: 25% 75%;
    margin-left: 1cm;
    margin-right: 1cm;
}

.grid div {
    color: white;
    margin: 0.5cm;
    padding: 5px;
    font-family:  monospace; 

}

#aboutme {
    min-height: 200px;
}

.maintitle {
    text-align: right;
    font-size: 400%;
    font-weight: bold;
    border-right: solid limegreen;
    
}

#description {
    font-size: 150%;
 } 

#item3 {
    grid-row: 1/3; 
}

#item4 {
position: relative;
}

#image1 {
    width: 100%;  
    max-height: 400px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 5px;
    background-color: black;
    color:limegreen;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

#innergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    grid-template-rows: auto;
    position: relative; 
}

#image5, #image6, #image7, #image8 {
    width: 100%;
    max-height: 150px;
    position: relative;
  }

.text-block2 {
    background-color: black;
    color:limegreen;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  
#innergrid2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0px;
    font-size: 1.5rem;
    text-align: center;
}




  


  